# Compiled Object Files 
*.o
*.a
*.so
*.dylib

# Executable Files
atm

# Temporary and Backup Files
*.swp
*.swo
*.bak
*~
.DS_Store
# Build Directory
build/
# Log and Cache Files
*.log
*.cache
# IDE Files / Files
.vscode/
.idea/
*.iml
# Local Configuration Files
.env
#ignore test folder
test/
# Ignore logs folder
logs/
# Ignore accounts data
data/accounts.dat